* {
  margin: 0;
  padding: 0;
}
.container{
  height: 500px;
  width: 100%;
  background: #6a0eff;
}
a {
  margin-top: 50px;
  margin: 20px 5px;
  text-decoration: none;
  color: rgb(228, 4, 79);
  font-size: 20px;
}
